<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Meu Portfólio</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/projects">Projetos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/skills">Habilidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contato</a>
      </li>
    </ul>
  </div>
</nav>
